h1 {
color: #cc0000; 
font-size: 16pt;
font-family: sans-serif;
}

h3 {
 color: #cc0000;
 font-size: 14pt;
}

p {
 font-size: 12pt;
}

.current{
 color: red;
}

.old{
 color: blue;
}

footer {font-size: 8pt}

a:hover{color: red;}
a{
    text-decoration: none;
    font-size: 10pt
}

img {
 float: left;
}