body {
background-color: #C0C0C0;
}

h1 {
color: #cc0000; 
font-size: 16pt;
font-family: sans-serif;
border-style: solid;
border-width: thick;
border-color: black;
background-color: blue;
}

h3 {
 color: #cc0000;
 font-size: 14pt;
}

p {
 font-size: 12pt;
}

.current{
 color: red;
}

.old{
 color: blue;
}

footer {
 font-size: 8pt;
 border-top-style: solid;
 border-top-width: 2px;
 border-top-color: black;
}

a:hover{
 color: red;
}
a{
    text-decoration: none;
    font-size: 10pt
}

img {
 float: left;
 margin: 2px;
 padding: 20px;
}